$highlight-color: rgb(255, 255, 255);

@import '~react-pro-sidebar/dist/scss/styles.scss';

div.mobile-cooking-grid-item {
    border: 2px solid #000;
}

a.mobile-cooking-grid-item-link {
    color: #000 !important;
    text-decoration: none;
}

div.pro-sidebar {
    // display: inline-block !important;
    // width: 100% !important;
    // height: 100%;
    min-width: 100%;
    width: 100% !important;
}

div.cooking-page-container {
    padding: 0 !important;
}

@media only screen and (max-width: 1024px) {
    div.cooking-page-desktop-container {
        display: none !important;
    }
}

@media only screen and (min-width: 1024px) {
    div.cooking-page-mobile-container {
        display: none !important;
    }
}

// div.cooking-content {
//     display: inline-block;
// }
