nav.corona-tab {
    padding-bottom: 7px;
    margin-bottom: 10px;
    z-index: 1;
}

nav.corona-tab a.nav-item.active {
    border-bottom: 2px solid #fff;
    z-index: 100;
}

.corona-tab a {
    color: #207fdf !important;
}

/* Tabs styling */

.corona-tab a {
    padding: 10px;
    padding-bottom: 10px !important;
}

.corona-tab a.active {
    color: #2b2929 !important;
    /* background-color: #f5f1f1; */
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.react-bootstrap-table table {
    display: table;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    div.react-bootstrap-table table {
        display: block;
        overflow-x: auto !important;
    }

    div.react-bootstrap-table table th, div.react-bootstrap-table table td {
        min-width: 170px;
    }
  }

