@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Maiden+Orange');

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
        Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100% !important;
}
body {
    min-height: 100% !important;
}

div#root {
    height: 100vh !important;
}

.full-height {
    height: 100% !important;
}

a {
    text-decoration: none !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* BACKGROUND IMAGES */

.has-bg-img-keyboard {
    background: url('../assets/images/keyboard.jpg') center center;
    background-size: cover;
}

.has-bg-img-escalator {
    background: url('../assets/images/escalator.jpg') center center;
    background-size: cover;
}

.has-bg-img-ocean {
    background: url('../assets/images/ocean.jpg') center center;
    background-size: cover;
}

.has-bg-img-reach {
    background: url('../assets/images/reach.jpg') center center;
    background-size: cover;
}

.has-bg-img-bulb {
    background: url('../assets/images/bulb2.jpg') center center;
    background-size: cover;
}

/* 404 */
.notfound-container {
    margin-top: 100px;
}
.notfound-title {
    font-size: 200px;
}

.notfound-subtitle {
    font-size: 50px;
}

.notfound-content {
    font-size: 25px;
}

/* JUMBOTRONS */

.jumbotron-full-page {
    border-radius: 0 !important;
    padding: 0 50px 0 50px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    div#scroll-arrow {
        flex-grow: 1;
        align-items: end !important;
    }

    span {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .arrow {
        text-align: center;
        font-size: 100px;
        margin: 8% 0;
    }
    .bounce {
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}

#jumbotron-title {
    font-weight: bolder;
    font-size: 62px;
}

#jumbotron-subtitle,
.subtitle-style {
    font-family: 'Maiden Orange', cursive;
    font-style: italic;
    font-size: 23px;
}

.jumbotron-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    padding-top: 180px;
    padding-bottom: 40px;
}

/* CARDS */

.big-icon {
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */

.main-button {
    display: block;
    padding-top: 10px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff');
    color: #fff;
}

.main-button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}

.always-visible {
    display: block !important;
}

.cv-swedish-btn-row,
.cv-english-btn-row {
    margin: 10px;
}

.cv-english-btn-row div a#btn-resume-english {
    margin: 0 !important;
}

#btn-resume-swedish,
#btn-resume-english {
    width: 320px;
}

.wrapper-btn-github,
.wrapper-btn-thesis,
.wrapper-btn-linkedin {
    margin: 0 0 10px 0 !important;
}

/* Caret fix for react sortable tables */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: '';
}

/* MISC */
ul.is-unstyled {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000 !important;
}

.sandbox {
    padding: 5rem 0;
}

/* StockPredictor */
label.radio {
    padding: 5px !important;
}

input.radio-value {
    margin-right: 10px !important;
}

div.radio-form {
    padding-bottom: 10px;
}

/* Desktop only */
@media only screen and (min-width: 768px) {
    #form-container {
        width: 500px;
    }
}

/* Tablets only */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .jumbotron-content {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron-content {
        padding-top: 70px;
    }
}

/* Mobile only */
@media only screen and (max-width: 480px) {
    #jumbotron-title {
        font-size: 52px !important;
    }

    .jumbotron-content {
        padding-top: 20px;
    }
}

/* Mobile only */
@media only screen and (max-width: 350px) {
    #btn-github,
    #btn-resume-mobile-swedish,
    #btn-resume-mobile-english,
    #btn-linkedin,
    #btn-thesis {
        width: 220px !important;
    }

    #jumbotron-title {
        font-size: 45px !important;
    }
}
